<header>
	<div class="skip-nav">
		<ul>
			<li><a href="#navigation">Aller au menu</a></li>
			<li><a href="#content" accesskey="s">Aller au contenu</a></li>
			<li><a href="#search" accesskey="4">Aller à la recherche</a></li>
		</ul>
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<a class="navbar-brand" href="#"><i class="fa fa-flask"></i> SasserKit</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="active"><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
